<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprendamosjapones.aprendedamosjapones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.CreateAcountActivity" android:parentActivityName=".LoginActivity"></activity>
        <activity
            android:name=".View.MainMenuActivity"
            android:screenOrientation="userPortrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".Games.MemoryGame.memory.MenuMemoryActivity"
            android:screenOrientation="userPortrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".Games.MemoryGame.memory.MemoryActivity"
            android:screenOrientation="userLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".HiraganaLevels.HiraganaLevelsActivity"></activity>
        <activity android:name=".KatakanaLevels.KatakanaLevelsActivity"></activity>
        <activity android:name=".KanjiLevels.KanjiLevelsActivity"></activity>
        <activity android:name=".Games.MemoryGame.IntructionMemoryGame"></activity>
        <activity
            android:name=".HiraganaLevels.HiraganaDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".HiraganaLevels.HiraganaLevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendamosjapones.aprendedamosjapones.HiraganaLevels.HiraganaDetailActivity">
            </meta-data>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".LoginActivity">
        </meta-data>
        <activity
            android:name=".KatakanaLevels.KatakanaDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".KatakanaLevels.KatakanaLevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendamosjapones.aprendedamosjapones.KatakanaLevels.KatakanaLevelsActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".KanjiLevels.KanjiDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".KanjiLevels.KanjiLevelsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aprendamosjapones.aprendedamosjapones.KanjiLevels.KanjiDetailActivity" >
            </meta-data>
        </activity>

        <activity android:name=".DictionaryHIragana.DictionarHIraganaActivity"></activity>
        <activity android:name=".DictionaryHIragana.DetailsDictionaryHiragana"></activity>

        <activity android:name=".DictionaryKanji.DictionarKanjiActivity"></activity>
        <activity android:name=".DictionaryKanji.DetailsDictionaryKanji"></activity>

        <activity android:name=".DictionaryKatakana.DictionarKatakanaActivity"></activity>
        <activity android:name=".DictionaryKatakana.DetailsDictionaryKatakana"></activity>

        <activity android:name=".Games.AskedGame.ActivityASkedGame"></activity>
        <activity android:name=".Games.AskedGame.InstructionsAskedGame"></activity>

    </application>
</manifest>